.App {
  text-align: center;
  background-image: url(../public/fondo.jpg);
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

